@-webkit-keyframes moveclouds {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: -1400px;
  }
}

@-moz-keyframes moveclouds {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: -1400px;
  }
}

@-o-keyframes moveclouds {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: -1400px;
  }
}